<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peças - AutoParts</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <h1>Catálogo de Peças</h1>
        </header>

        <main>
            <!--Esse link leva pro /pecas/nova — que bate com o @GetMapping("/pecas/nova") do seu Controller, 
            abrindo o formulário vazio.-->
            <a th:href="@{/pecas/nova}" class="btn-novo">+ Nova Peça</a>

            <table>
                <caption>Lista de peças cadastradas</caption>
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="peca : ${pecas}">
                        <td th:text="${peca.nome}">Exemplo</td>
                        <td th:text="${peca.categoria}">Exemplo</td>
                        <td th:text="${peca.preco}">0,00</td>
                        <td>
                            <a th:href="@{/pecas/editar/{id}(id=${peca.id})}">Editar</a>
                            <a th:href="@{/pecas/excluir/{id}(id=${peca.id})}" 
                            onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>